.login {
  min-height: 100vh;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginBox {
  padding-bottom: 4rem;
  text-align: center;
  max-width: 25rem;
  padding: 2rem;
}

.login .title {
  letter-spacing: .25rem;
  font-weight: 600;
  color: #43425D;
}

.login .subheading {
  margin-top: .5rem;
  color: #43425D;
}

.form {
  margin-top: 1rem;
}

.textfield {
  width: 100%;
  color: #43425D;
}

.FormControlLabel {
  text-align: left;
  background: red;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}

.buttonGroup Button,
.buttonGroup .link {
  width: 47%;
  text-decoration: none;
}

.link Button {
  width: 100%;
}

.buttonLogin {
  color: red;
  width: 40%;
}